Hardware/lightning trigger_bom_.csv
Hardware/LTV-827S-TA1.pretty/LTV-827S-TA1.kicad_mod
Hardware/K1-5203UA-01.pretty/K1-5203UA-01.kicad_mod
rescue-backup/lightning trigger-cache-2019-01-19-10-02-21.lib
rescue-backup/lightning trigger-2019-01-19-10-02-21.sch
rescue-backup/lightning trigger-2019-01-19-10-02-21.pro
Hardware/sym-lib-table
Hardware/lightning trigger.xml
Hardware/lightning trigger.kicad_pcb-bak
Hardware/lightning trigger.bak
Hardware/fp-lib-table
Hardware/bom.ini
Hardware/board outline libreCAD.dxf~
Hardware/lightning trigger Rev 2/bom/ibom.html
Software/Microcontroller/AT_commands_HM-11_Setup/AT_commands_HM-11_Setup.ino.with_bootloader.standard.hex
Software/Microcontroller/AT_commands_HM-11_Setup/AT_commands_HM-11_Setup.ino.standard.hex
Software/Microcontroller/trigger/trigger.ino.with_bootloader.standard.hex
Software/Microcontroller/trigger/trigger.ino.standard.hex
Software/Microcontroller/trigger_tests/trigger_tests.ino
Software/Microcontroller/AT_commands_HM-11_Setup/AT_commands_HM-11_Setup.ino
Software/bluetooth/bluetooth.ino
Reference/enclosure outline LibreCAD.dxf~
Reference/board edge cuts rev 2 R12.dxf~
Software/Microcontroller/AT_commands/AT_commands.ino
Reference/ATMEL-MEGA328P-AU-Pin-Out-Diagram.png
