Hardware/lightning trigger_bom_.csv
Hardware/LTV-827S-TA1.pretty/LTV-827S-TA1.kicad_mod
Hardware/K1-5203UA-01.pretty/K1-5203UA-01.kicad_mod
rescue-backup/lightning trigger-cache-2019-01-19-10-02-21.lib
rescue-backup/lightning trigger-2019-01-19-10-02-21.sch
rescue-backup/lightning trigger-2019-01-19-10-02-21.pro
Hardware/sym-lib-table
Hardware/lightning trigger.xml
Hardware/lightning trigger.kicad_pcb-bak
Hardware/lightning trigger.bak
Hardware/lightning trigger-cache.lib
Hardware/fp-lib-table
Hardware/bom.ini
Hardware/board outline libreCAD.dxf~
