Hardware/lightning trigger_bom_.csv
Hardware/LTV-827S-TA1.pretty/LTV-827S-TA1.kicad_mod
Hardware/K1-5203UA-01.pretty/K1-5203UA-01.kicad_mod
rescue-backup/lightning trigger-cache-2019-01-19-10-02-21.lib
rescue-backup/lightning trigger-2019-01-19-10-02-21.sch
rescue-backup/lightning trigger-2019-01-19-10-02-21.pro
Hardware/sym-lib-table
Hardware/lightning trigger.xml
Hardware/lightning trigger.kicad_pcb-bak
Hardware/lightning trigger.bak
Hardware/fp-lib-table
Hardware/bom.ini
Hardware/board outline libreCAD.dxf~
Hardware/lightning trigger Rev 2/bom/ibom.html
Software/Microcontroller/AT_commands_HM-11_Setup/AT_commands_HM-11_Setup.ino.with_bootloader.standard.hex
Software/Microcontroller/AT_commands_HM-11_Setup/AT_commands_HM-11_Setup.ino.standard.hex
Software/Microcontroller/trigger/trigger.ino.with_bootloader.standard.hex
Software/Microcontroller/trigger/trigger.ino.standard.hex
Software/Microcontroller/trigger_tests/trigger_tests.ino
Software/Microcontroller/AT_commands_HM-11_Setup/AT_commands_HM-11_Setup.ino
Software/bluetooth/bluetooth.ino
Reference/enclosure outline LibreCAD.dxf~
Reference/board edge cuts rev 2 R12.dxf~
Software/Microcontroller/AT_commands/AT_commands.ino
Reference/ATMEL-MEGA328P-AU-Pin-Out-Diagram.png
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/sym-lib-table
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger_bom_2.xlsx
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger_bom_2.csv.tmp
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger_bom_2.csv
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger_bom_.csv.tmp
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/board outline libreCAD.dxf~
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/board outline libreCAD.dxf
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/board outline 2.dxf
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/board image.dxf
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/_saved_lightning trigger_bom_2.csv
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/_saved_lightning trigger.xml
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/_saved_lightning trigger.pro
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/_saved_lightning trigger.bak
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/_saved_lightning trigger-cache.lib
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/LTV-827S-TA1.pretty/LTV-827S-TA1.kicad_mod
Hardware/lightning trigger Rev 1/sym-lib-table
Hardware/lightning trigger Rev 1/lightning trigger.sch
Hardware/lightning trigger Rev 1/lightning trigger.pro
Hardware/lightning trigger Rev 1/lightning trigger.net
Hardware/lightning trigger Rev 1/lightning trigger.kicad_pcb
Hardware/lightning trigger Rev 1/lightning trigger-rescue.lib
Hardware/lightning trigger Rev 1/lightning trigger-rescue.dcm
Hardware/lightning trigger Rev 1/lightning trigger-cache.lib
Hardware/lightning trigger Rev 1/LTV-827S-TA1.pretty/LTV-827S-TA1.kicad_mod
Hardware/lightning trigger Rev 1/K1-5203UA-01.pretty/K1-5203UA-01.kicad_mod
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger.drl
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-F.SilkS.gbr
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-F.Mask.gbr
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-F.Cu.gbr
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-Edge.Cuts.gbr
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-B.SilkS.gbr
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-B.Mask.gbr
Hardware/lightning trigger Rev 1/GERBERS/lightning trigger-B.Cu.gbr
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.xml
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.sch
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.pro
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.pdf
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.net
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.kicad_pcb-bak
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.kicad_pcb
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger.bak
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger-rescue.lib
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger-rescue.dcm
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/lightning trigger-cache.lib
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/fp-lib-table
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/bom/ibom.html
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/bom.ini
Hardware/lightning trigger Rev 2/lightning trigger Rev 2/board outline.dxf
Software/Microcontroller/trigger/dataString.txt
Software/Microcontroller/trigger/Document.hex
Software/Microcontroller/bootloader_upload/bootloader_upload.ino.with_bootloader.standard.hex
Software/Microcontroller/bootloader_upload/bootloader_upload.ino.standard.hex
Software/Microcontroller/bootloader_upload/bootloader_upload.ino
Software/Microcontroller/bootloader_Tests/bootloader_Tests.ino.with_bootloader.standard.hex
Software/Microcontroller/bootloader_Tests/bootloader_Tests.ino.standard.hex
Software/Microcontroller/bootloader_Tests/bootloader_Tests.ino
Software/Microcontroller/bootloader_Tests/Document.hex
Software/Microcontroller/AT_commands/AT_commands.ino.with_bootloader.standard.hex
Software/Microcontroller/AT_commands/AT_commands.ino.standard.hex
